@model IEnumerable<TransServiceWebApp.ViewModel.ShowAllOrderViewModel>

@{
    ViewBag.Title = "ShowAllNewOrders";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<head>
    <link href="~/Content/Style/Forvarder.css" rel="stylesheet" />
</head>
<div class="container listOrders">
    <div class="col-md-12">
        <h2>Lista wszystkich nowych zleceń</h2>
        <p>Ostatnia aktualizacja: @DateTime.Now.ToString("dd/MM/yyy")</p>
        <div class="buttons">
            <a href='@Url.Action("AddNewOrder", "Forvarder")'>
                <input type="submit" value="Dodaj nowe" class="btn btn-NewOrderButton" />
            </a>
            <a href='@Url.Action("ShowAllOrders", "Forvarder")'>
                <input type="submit" value="Wszystkie" class="btn btn-NewOrderButton" />
            </a>
            <a href='@Url.Action("ShowAllOrdersInProgress", "Forvarder")'>
                <input type="submit" value="W realizacji" class="btn btn-NewOrderButton" />
            </a>
            <a href='@Url.Action("ShowAllOrdersClose", "Forvarder")'>
                <input type="submit" value="Zakończone" class="btn btn-NewOrderButton" />
            </a>
        </div>
        <table class="table tableList">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityReception)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxDateReception)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityDelivery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataMaxDelivery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusName)
                </th>
                <th>Przyjmij zlecenie</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityReception)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxDateReception)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityDelivery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataMaxDelivery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                    <td>
                        <a href='@Url.Action("AcceptOrder", "Forvarder", new { orderId = item.OrderId }, null)'>
                            <i class="fa fa-align-justify fa-lg"></i><span class="arrow"></span>
                        </a>
                    </td>


                </tr>
            }

        </table>
    </div>
</div>

